@charset "utf-8";

/* Mobile first */

html {
	box-sizing: border-box;
	font-size: calc(1rem + 0.1vw);
}

*, *::before, *::after {
	box-sizing: inherit;
}

body, td, th, p {
	font-family: 'Karla', sans-serif;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position: relative;
}

#page-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
}

a {
	color: orange;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section {
	display: block;
}
#maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}
#footer {
	width: 100%;
	background-color: #1B1F3B;
	color: #F1FAEE;
	font-size: .75rem;
	letter-spacing: 1px;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}
#footer a:link, footer a:visited {
	color: #F1FAEE;
	text-decoration: underline;
	transition: 250ms ease;
}
#footer a:hover, footer a:focus, footer a:active {
	color: #A8DADC;
}
/* ====================== Navigation ====================== */
nav {
	width: 100%;
	height: 4rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1b1f3b;
}
nav h1 {
	position: relative;
	z-index: 100;
	margin: 0;
}
nav h1 a:link, nav h1 a:visited {
	color: #fff;
	font: 700 1.3rem/normal 'Lato', sans-serif;
	text-transform: uppercase;
	transition: 250ms ease;
}
nav h1 a:hover, nav h1 a:focus, nav h1 a:active {
	color: #A8DADC;
}
.logo {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: rgba(255,255,255,.15);
z-index: 50;
font-size: 3rem;
}
#breadcrumb {
	padding: .625rem 1rem;
	list-style: none;
	background-color: #eee;
	font: 400 1rem/normal 'Karla', sans-serif;
	margin: 0;
	width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: .5rem;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a:link, #breadcrumb li a:visited {
	color: #457B9D;
	text-decoration: none;
	transition: 250ms ease;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover, #breadcrumb li a:focus, #breadcrumb li a:active {
	text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
	height: 25rem;
	width: 100%;
	background-color: #ccc;
}
#map .leaflet-control-attribution a {
	color: black;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	width: 100%;
	padding: .7rem 1rem 1rem 1rem;
	background-color: #457b9d;
}
.filter-options h2 {
	width: 100%;
	margin: 0;
	padding: 0;
	color: white;
	font: 700 1rem/normal 'Karla', sans-serif;
	text-transform: uppercase;
}
.flex-select {
	display: flex;
	flex-direction: column;
}
.filter-options select {
	display: block;
	width: 100%;
	margin: .5rem 0;
	padding: 0;
	background-color: white;
	font: 400 .8rem/normal 'Karla', sans-serif;
	height: 2.1875rem;
	letter-spacing: 0;
	border: 2px solid white;
	border-radius: .3rem;
}
.filter-options select:focus {
	outline: 3px solid rgba(255,255,255,.5);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #f3f3f3;
	list-style-type: none;
	margin: 0 auto;
	padding: .5rem 1rem;
	text-align: center;
}
#restaurants-list li {
	background-color: #fff;
	font-family: 'Karla', sans-serif;
	margin: .5rem 0;
	padding: 1rem;
	text-align: left;
	width: 100%;
}
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}
#restaurants-list h2 {
	margin: 1rem 0 .75rem;
}
#restaurants-list li h2 a:link, #restaurants-list li h2 a:visited {
	color: #1B1F3B;
	font: 700 1.1rem/normal 'Karla', sans-serif;
	text-transform: uppercase;
	transition: 250ms ease;
}
#restaurants-list li h2 a:hover, #restaurants-list li h2 a:focus, #restaurants li h2 a:active {
	color: #e63946;
}
#restaurants-list p {
	margin: 0;
	font: 400 .8rem/145% 'Karla', sans-serif;
	color: #363636;
}
#restaurants-list li > a:link, #restaurants-list li > a:visited {
	background-color: #1B1F3B;
	color: #fff;
	display: inline-block;
	font: 400 1rem/normal 'Karla', sans-serif;
	margin: 1rem 0 0;
	padding: .6rem 1.5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 250ms ease;
}

#restaurants-list li > a:hover, #restaurants-list li > a:focus, #restaurants-list li > a:active {
	background: #e63946;
}

/* ====================== Restaurant Details ====================== */
.inside #page-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.inside #map-container {
	width: 100%;
	height: 25rem;
}
.inside #map {
	background-color: #ccc;
	width: 100%;
}
.inside #footer {
	width: 100%;
}
#restaurant-name {
	color: #1B1F3B;
	font: 700 1.25rem/normal 'Karla', sans-serif;
	letter-spacing: 0;
	margin: .5rem 0 1rem;
	text-transform: uppercase;
	text-align: center;
}
#restaurant-img {
	display: block;
	width: 100%;
	height: auto;
}
#restaurant-address {
	font: 400 .8rem/normal 'Karla', sans-serif;
	margin: .625rem 0;
	padding-left: .2rem;
}
#restaurant-cuisine {
	width: 100%;
	background-color: #1B1F3B;
	color: #ddd;
	font: 400 .75rem/normal 'Karla', sans-serif;
	letter-spacing: .625rem;
	margin: 0 0 1.25rem;
	padding: .125rem 0;
	text-align: center;
	text-transform: uppercase;
}
#restaurant-container, #reviews-container {
	padding: 1rem;
	width: 100%;
}
#reviews-container h2 {
	margin: 0 0 1rem;
	padding: 1rem 0 0;
	color: #1B1F3B;
	font: 700 1.25rem/normal 'Karla', sans-serif;
	border-top: 2px solid rgba(0,0,0,.02);
	text-align: center;
	text-transform: uppercase;
}
#reviews-list {
	width: 100%;
	margin: 0;
	padding: 0;
}
#reviews-list li {
	background-color: #fff;
	display: block;
	list-style-type: none;
	margin: 0 0 2rem;
	overflow: hidden;
	padding: 0 0 1rem;
	position: relative;
	width: 100%;
}
#reviews-list li p {
	padding: 0 1rem;
	margin: 0;
}
#reviews-list li p.reviewer-name {
	padding: .4rem 1rem;
	font: 400 1rem/normal 'Karla', sans-serif;
	background: #1B1F3B;
	color: #fff;
}
#reviews-list li p.review-date {
	padding: .5rem 1rem 0;
	font-style: italic;
}
#reviews-list li p.rating {
	font-weight: 700;
	margin-bottom: .4rem;
}
.rating i {
	color: #1B1F3B;
}
#restaurant-hours {
	width: 100%;
}
#restaurant-hours td {
	font-size: 1rem;
	color: #666;
}

@media screen and (min-width: 36rem)  {
	/* ====================== Navigation ====================== */
	nav {
		height: 6rem;
	}

	/* ====================== Restaurant Filtering ====================== */
	.filter-options h2 {
		text-align: center;
		margin: 0 0 .5rem;
	}
	.flex-select {
		flex-direction: row;
		justify-content: center;
	}
	.filter-options select {
		margin: 0 .5rem;
		width: 30%;
		max-width: 17.5rem;
	}

	/* ====================== Restaurant Listing ====================== */
	#restaurants-list li {
		width: 49%;
		margin-right: 2%;
	}
	#restaurants-list li:nth-child(2n) {
		margin-right: 0;
	}
	/* ====================== Restaurant Details ====================== */
	#restaurant-img {
		max-width: 36rem;
		margin: 0 auto;
	}
	#restaurant-cuisine {
		max-width: 36rem;
		margin: 0 auto;
	}
	#restaurant-address {
		max-width: 36rem;
		margin: .7rem auto;
	}
	#restaurant-hours {
		font-family: 'Karla';
		max-width: 36rem;
		margin: 0 auto;
	}
	#reviews-container {
		max-width: 45rem;
		margin: 0 auto;
	}
}

@media screen and (min-width: 58rem)  {
	/* ====================== Restaurant Listing ====================== */
	#restaurants-list li {
		width: 32.5%;
		margin-right: 1.25%;
	}
	#restaurants-list li:nth-child(2n) {
		margin-right: 1.25%;
	}
	#restaurants-list li:nth-child(3n) {
		margin-right: 0;
	}
}

@media screen and (min-width: 81.25rem)  {
	.inside #maincontent {
		height: auto;
	}
	/* ====================== Navigation ====================== */
	#breadcrumb {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2.75rem;
		padding: 0;
		text-align: center;
	}
	#breadcrumb li {
		display: block;
	}
	/* ====================== Restaurant Listing ====================== */
	#restaurants-list {
		max-width: 80rem;
	}
	/* ====================== Restaurant Details ====================== */
	.inside #maincontent {
		position: relative;
	}
	.inside #map-container {
		width: 50%;
		height: 46rem;
		position: absolute;
		right: 0;
		top: 0;
	}
	.inside #map {
		height: 46rem;
		border-bottom-left-radius: 1rem;
	}
	#restaurant-container {
		width: 50%;
		margin-right: 50%;

	}
	#reviews-container {
		width: 50%;
	}
}
